	
@mixin btn($padding,$width,$height,$font,$borderRadius,$bgColor,$color) {
    display: inline-block;
    padding:$padding;
    width:$width;
    height:$height;
    background: $bgColor;
    color:$color;
    border:1px solid $color-border1;
    border-radius:$borderRadius;
    font-size:$font;
    text-align: center;
    cursor: pointer;
}