//이미지 홈페이지 링크
$imgBfUrl : 'https://bodyfriend.speedgabia.com/img/bodyfriend';
$imgCsUrl : 'https://bodyfriend.speedgabia.com/img/cs';

$arrow-white-down : $imgCsUrl+'/icon/arrow_white_down.svg';
$icon-new-nor : $imgCsUrl+'/icon/icon_new_nor.svg';
$icon-plus-more : $imgCsUrl+'/icon/icon_plus_more.svg';