$color-black-0:#000;
$color-black-2:#272D37;
$color-white:#fff;
$color-primary:#437EF7; //파랑
$color-secondary:#F5FAFF; //연파랑

$color-redf-0:#f00;

$color-grey-9:#999;
$color-grey-b0:#B0B0B0;
$color-grey-b4:#B4B4B4;
$color-grey-7b:#7B7B7B;
$color-grey-c5:#C5C5C5;
$color-grey-c9:#C9C9C9;
$color-grey-a4:#A4A4A4;
$color-grey-db:#dbdbdb;
$color-grey-f3:#f3f3f3;
$color-grey-f5f5f7:#F5F5F7;
$color-grey-bbbcc8:#bbbcc8;

$color-border1:#DAE0E6;