/*body scroll*/
.scroll-hidden{overflow:hidden;}
.scroll-hidden-x{overflow-x:hidden;}
.scroll-hidden-y{overflow-y:hidden;}

/*말줄임 */
.dotdot {display: inline-block; max-width: 95%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 접근성 : 숨김 텍스트 */
.hdtxt{height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}

/*layout*/

/*color*/
.color-black0{color:$color-black-0 !important;}
.color-black2{color:$color-black-2 !important;}
.color-white{color:$color-white !important;}
.color-primary{color:$color-primary !important;}
.color-secondary{color:$color-secondary !important;}
.color-redf-0{color:$color-redf-0 !important;}

.color-grey-9{color:$color-grey-9 !important;}
.color-grey-b0{color:$color-grey-b0 !important;}
.color-grey-b4{color:$color-grey-b4 !important;}
.color-grey-7b{color:$color-grey-7b !important;}
.color-grey-c5{color:$color-grey-c5 !important;}
.color-grey-c9{color:$color-grey-c9 !important;}
.color-grey-a4{color:$color-grey-a4 !important;}
.color-grey-db{color:$color-grey-db !important;}
.color-grey-f3{color:$color-grey-f3 !important;}
.color-grey-f5f5f7{color:$color-grey-f5f5f7 !important;}