@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*notosans kr
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
Black 900
font-family: 'Noto Sans KR', sans-serif;
*/


@font-face {
  font-family: 'BodyfriendL';
  src : local(※),
        url('../fonts/bf/Bodyfriend-L.otf'),
        url('../fonts/bf/Bodyfriend-L.ttf');

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BodyfriendM';
  src : local(※),
        url('../fonts/bf/Bodyfriend-M.otf'),
        url('../fonts/bf/Bodyfriend-M.ttf');

  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'BodyfriendB';
  src : local(※),
        url('../fonts/bf/Bodyfriend-B.otf'),
        url('../fonts/bf/Bodyfriend-B.ttf');

  font-weight: 700;
  font-style: normal;
}
