*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
// 기본 브라우저 = 16px. 16px의 62.5%는 10px = 1rem.
html{
  font-size:62.5%;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:400;
  font-size:1.5rem;
}
ul,li,ol{
  list-style: none;
}
img,fieldset{
  border:0;
}
img{
  vertical-align: top;
}
a,a:link{
  text-decoration: none;
  color:#000;
}
input,select,textarea,button{
  vertical-align: middle;
  border-radius: 0;
  cursor: pointer;
  /*ios대응*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  -webkit-border-radius: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
select{
  background:url($arrow-black-down)no-repeat calc(100% - 10px) center;
}
input[type="text"]:focus,
input[type="text"]:hover{
  outline : none;
}
input[type="checkbox"],
input[type="radio"]{
  cursor: pointer;
}
input[type="button"]{
  border:none;
}
input[type="text"]:disabled,
input[type="text"]:read-only,
textarea:read-only,
textarea:disabled{
  background:$color-grey-f3;
  color:$color-black2;
}
i,em,address{
  font-style:normal;
}
table { 
  table-layout: fixed; 
  border-collapse: collapse; 
  border-spacing: 0; 
  empty-cells: show; 
}
legend, caption { 
  line-height:0;
  width:0;
  height:0;
  overflow:hidden;
  font-size:0;
}
button{
  border:0;
  cursor: pointer;
}

::placeholder{
  color:$color-grey-db;
}