  .section-popup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:$color-white;
    z-index: 10;
    .section-popup--top{
      position: relative;
      padding:20px;
      height:80px;
      border-bottom:1px solid $color-border1;
      text-align: center;
      font-size:1.6rem;
      button{
        position: absolute;
        top:50%;
        right:20px;
        transform: translateY(-50%);
        width:30px;
        height:30px;
      }
    }
    .section-popup--con{
      .inner{
        padding:20px;
        height:calc(100vh - 160px);
      }
      p{
        padding-top:10px;
        line-height: 1.6;
      }
    }
    .btn-section-popup-close{
      position: fixed;
      bottom:0;
      left:0;
      display:block;
      width:100%;
      height:80px;
      background-color: $color-white;
      border-top:1px solid $color-border1;
      font-size:1.6rem;
      font-weight:700;
    }
  }
  